@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.title{
    font-family: 'new york times', Times, serif;
    font-weight: normal;
}

.offcanvas-header{
    justify-content: left;
}

.news-hub{
    margin-left: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav-link, .navbar-brand{
    color: white!important;
}


.profile-img{
    width: 32px;
    background-color: white;
}

.profile-img-full{
    width: 80%;
    height: auto;
}

.form-page{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-register{
    margin-top: 200px;
}

.main{
    display: flex;
    height: 100vh;
}

h1{
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
}

.margin-top{
    margin-top: 70px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.news{
    width: 80%;
    margin: auto;
}

.form-item{
    display: inline-block;
}

.filter, .card{
    margin-bottom: 20px;
}