{% extends 'layout.html' %}

{% block config %}
<link href="{{ url_for('static', filename='css/add.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
Add
{% endblock %}


{% block main %}
<div class="section text-center">
    <div class="container">
        <h1>Add a new Feed RSS</h1>
        <form class="row justify-content-md-center" action="/add" method="post">
            <div class="col-auto">
                <label for="name" class="visually-hidden">Name</label>
                <input type="text" class="form-control" id="name" placeholder="The New York Example" name="name">
            </div>
            <div class="col-auto">
                <label for="url" class="visually-hidden">URL</label>
                <input type="text" class="form-control" id="url" placeholder="http://example.com" name="url">
            </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Category" name="category">
                    <option selected value="1">All</option>
                    <option value="2">Finance</option>
                    <option value="3">Sport</option>
                    <option value="4">Brazil</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Add Feed</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}