{% extends "layout.html" %}

{% block title %}
Edit Nickname
{% endblock %}

{% block main %}
<form class="container" action="/profile/edit/password" method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="New Password", autofocus=True) }}
    </div>
    <div class="mb-3">
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control", placeholder="Confirm New Password") }}
    </div>
    <div class="mb-3">
        <a href="/profile" class="btn btn-primary mb-3">Cancel</a>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </div>
</form>
{% endblock %}