{% extends "layout.html" %}

{% block title %}
Edit Nickname
{% endblock %}

{% block main %}
<div class="main">
    <div class="form-page">
        <form class="container" action="/profile/edit/nickname" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", placeholder="New Nickname", autofocus=True) }}
            </div>
            <div class="mb-3 text-center">
                <a href="/profile" class="btn btn-light mb-3">Cancel</a>
                <button type="submit" class="btn btn-dark mb-3">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}