{% extends 'layout.html' %}

{% block config %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}


{% block title %}
Error
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col text-center">
            <img class="error" id="ItemPreview" src="" alt="">
        </div>
    </div>
</div>

<script>
    document.getElementById("ItemPreview").src = "data:/png;base64," + '{{img}}'
</script>
{% endblock %}