{% extends "layout.html" %}

{% block title %}
Edit Feed
{% endblock %}

{% block main %}
{{ form.csrf_token }}
<form class="container" action="/feed/edit/{{form.id.data}}" method="POST">
    <div class="mb-3">
        {{ form.portalname.label(class="form-label") }}
        {{ form.portalname(class="form-control", disabled=True) }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control", disabled=True) }}
    </div>
    <div class="mb-3">
        {{ form.url.label(class="form-label") }}
        {{ form.url(class="form-control", placeholder="http://example.com") }}
    </div>
    <div class="mb-3">
        {{ form.category_id.label(class="form-label") }}
        {{ form.category_id(class="form-select") }}
    </div>
    <div class="mb-3">
        <a href="/feed/list" class="btn btn-primary mb-3">Cancel</a>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </div>
</form>
{% endblock %}