{% extends 'layout.html' %}

{% block config %}
<link href="{{ url_for('static', filename='css/add.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
Add
{% endblock %}


{% block main %}
<form class="container" action="/feed/add" method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.url.label(class="form-label") }}
        {{ form.url(class="form-control", placeholder="http://example.com") }}
    </div>
    <div class="mb-3">
        {{ 
            form.list_id(class="form-select")
        }}
    </div>
    <div class="mb-3">
        <a href="/feed/list" class="btn btn-primary mb-3">Cancel</a>
        <button type="submit" class="btn btn-primary mb-3">Add</button>
    </div>
</form>
{% endblock %}