{% extends "layout.html" %}

{% block title %}
Feed List
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Portal Name</th>
            <th scope="col">Category</th>
            <th scope="col">Last Update</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for feed in feeds %}
        <tr>
            <td>{{ feed[0].portalname }}</td>
            <td>{{ feed[1].name }}</td>
            <td><a href="/feed/edit/{{feed[2].id}}">Edit</a></td>
            <td><a href="/feed/remove/{{feed[2].id}}">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.info }}
{{ pagination.links }}
{% endblock %}