{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Portal Name</th>
            <th scope="col">Category</th>
            <th scope="col">Post Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in feed %}
        <tr>
            <td><a href="{{item['link']}}" target="_blank">{{item['title']}}</a></td>
            <td>{{ item['portalname'] }}</td>
            <td>{{ item['category'] }}</td>
            <td>{{ item['post_date'] }}</td>
            <td><a href="/save">Save</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}