{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Portal Name</th>
            <th scope="col">Category</th>
            <th scope="col">Post Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in feed %}
        <tr>

            <td><a href="{{ item[0].url }}" target="_blank">{{ item[0].title }}</a></td>
            <td>{{ item[1].portalname }}</td>
            <td>{{ item[2].name }}</td>
            <td>{{ item[0].post_date.strftime('%H:%M:%S %d/%m/%Y') }}</td>
            <td><a class="btn btn-light"
                    href="/save?title={{item['title']}}&link={{item['link']}}&portalname={{item['portalname']}}&post_date={{item['post_date']}}">Save</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}