{% extends "layout.html" %}

{% block title %}
Edit List
{% endblock %}

{% block main %}
{{ form.csrf_token }}
<form action="/list/edit/{{ form.id.data }}" method="post" class="container">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", placeholder="Name") }}
    </div>
    <div class="mb-3">
        <a href="/list" class="btn btn-primary mb-3">Cancel</a>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </div>
</form>
{% endblock %}