{% extends "layout.html" %}

{% block title %}
Add List
{% endblock %}

{% block main %}
<form action="/list/add" method="POST" class="container">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", placeholder="Name", autofocus=True) }}
    </div>
    <div class="mb-3">
        <a href="/list" class="btn btn-primary mb-3">Cancel</a>
        <button type="submit" class="btn btn-primary mb-3">Add</button>
    </div>
</form>

{% endblock %}