{% extends "layout.html" %}

{% block title %}
List
{% endblock %}

{% block main %}
<table class="table margin-top">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lists %}
        <tr>
            <td>{{ item[0].name }}</td>
            <td class="text-center">
                <a href="/list/edit/{{ item[0].id }}" class="btn btn-light">Edit</a>
                <a href="/list/remove/{{ item[0].id }}" class="btn btn-light">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}