{% extends 'layout.html' %}

{% block title %}
Login
{% endblock %}

{% block main %}
{% if msg %}
{{ msg }}
{% endif %}
<form class="container" action="/login" method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="username") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="password") }}
    </div>
    <div class="mb-3">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="form-check-label") }}
    </div>
    <div class="mb-3">
        {{ form.recaptcha }}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Login</button>
    </div>
</form>
{% endblock %}