{% extends "layout.html" %}

{% block title %}
Saved
{% endblock %}

{% block main %}
<div class="margin-top">
    <div class="news">
        {% for item in news %}
        <div class="card text-center">
            <div class="card-header">
                Saved in {{ item[1].save_date.strftime("%H:%M:%S %d/%m/%Y") }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item[0].feed.portalname }}</h5>
                <p class="card-text">{{ item[0].title }}</p>
                <a href="/save/remove/{{ item[0].id }}" class="btn btn-light">Remove</a>
                <a a href="{{ item[0].url }}" target="_blank" class="btn btn-dark">Read Now</a>
            </div>
            <div class="card-footer text-muted">
                {{ item[0].post_date.strftime('%H:%M:%S %d/%m/%Y') }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}