{% extends "layout.html" %}

{% block title %}
Saved
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Portalname</th>
            <th scope="col">Post Date</th>
            <th scope="col">Save Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in news %}
            <tr>
                <td><a href="{{ item[0].url }}" target="_blank">{{ item[0].title }}</a></td>
                <td>{{ item[0].feed.portalname }}</td>
                <td>{{ item[0].post_date.strftime("%H:%M:%S %d/%m/%Y") }}</td>
                <td>{{ item[1].save_date.strftime("%H:%M:%S %d/%m/%Y") }}</td>
                <td><a class="btn btn-light"
                    href="/save/remove/{{ item[0].id }}">remove</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.info }}
{{ pagination.links }}
{% endblock %}